@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading {
  margin-top: 4rem;
}

.loading i {
  font-size: 3rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: load 1.2s ease-out infinite both;
          animation: load 1.2s ease-out infinite both;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.title-contain {
  margin: 2rem 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.title-contain p {
  font-size: 0.8rem;
  font-style: italic;
}

label, input {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.5rem;
}

input {
  width: 16rem;
  outline: none;
  border: 1.5px solid black;
  padding: 0.2rem 0.25rem;
  border-radius: 0.3rem;
}

button {
  outline: none;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  font-family: 'Poppins', sans-serif;
  margin-left: 0.2rem;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover, a:hover {
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.post {
  margin: 2rem 1rem 0 1rem;
  width: 60%;
  min-width: 250px;
  max-width: 320px;
  border: 2px solid #aeaeae;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  padding: 0.2rem;
  background-color: black;
}

.date {
  margin-top: 0.2rem;
  font-size: 0.65rem;
  color: #3a3a3a;
}

.post-content {
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
}

.post-title, .post-desc {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0.4rem 0.6rem 0 0.6rem;
}

.author {
  padding: 0 0.6rem 0.2rem 0.6rem;
  font-family: 'Poppins', sans-serif;
  color: #252525;
  font-size: 0.55rem;
  font-style: italic;
}

.post-desc {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.post_image_contain {
  width: 100%;
}

.post img {
  width: 100%;
  height: auto;
}

.post-meta {
  margin-top: 0.15rem;
}

.post-meta, .reactions, .likes, .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
}

.reactions, .likes, .comments {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments {
  margin-left: 0.7rem;
}

.number_of_comments, .number_of_likes {
  margin-left: 0.2rem;
}

.warn {
  text-align: center;
  margin: 2rem 1rem;
  width: 70%;
  max-width: 25rem;
  background-color: #ffa9a9;
  border: 2px solid #ff6060;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warn i {
  font-size: 2.5rem;
  color: #ff2c2c;
  margin-bottom: 0.6rem;
}

footer {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white 55%, rgba(255, 255, 255, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5rem;
}

.text1 i {
  color: red;
}

.text1, .text2 {
  font-size: 0.85rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: transparent;
}

.text2 {
  font-size: 0.6rem;
}
