@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
}
h1{
    margin: 2rem 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
label, input{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
}
input{
    width: 16rem;
    outline: none;
    border: 1.5px solid black;
    padding: 0.2rem 0.25rem;
    border-radius: 0.3rem;
}
button{
    outline: none;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 0.2rem;
}
button:hover, a:hover{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}
.post{
    margin: 2rem 1rem 0 1rem;
    width: 60%;
    min-width: 250px;
    max-width: 320px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}
.date{
    margin-top: 0.2rem;
    font-size: 0.6rem;
    color: rgb(58, 58, 58);
}
.post-title, .post-desc{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.4rem 0.7rem 0 0.7rem;
}
.post-desc{
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
.post_image_contain{
    width: 100%;
}
.post img{
    width: 100%;
    height: auto;
}
.warn{
    text-align: center;
    margin: 2rem 1rem;
    width: 70%;
    max-width: 25rem;
    background-color: rgb(255, 169, 169);
    border: 2px solid rgb(255, 96, 96);
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}
.warn i{
    font-size: 2.5rem;
    color: #ff2c2c;
    margin-bottom: 0.6rem;
}
footer{
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, white 55%, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}
.text1 i{
    color: red;
}
.text1, .text2{
    font-size: 0.85rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: transparent;
}
.text2{
    font-size: 0.6rem;
}